In [1]:
#task4
import pandas as pd
df=pd.read_csv("D:\DS-DAY3\loan dataset_cleaned.csv")
print(df.head())
print(df.info())

  Customer_Name  Account_Number Account_Type  Balance Account_Creation_Date  \
0         Romil      7867156462      Current   180344            2011-07-07
1        Vivaan      8521329483      Savings   221155                   NaN
2          Anya      6696555432      Current   348905                   NaN
3          Sana      2212134069      Current   198739                   NaN
4         Rohan      4808094686         Loan   457045            2022-08-08

     Loan_ID Loan_Type  Interest_Rate  Loan_Amount  EMI_Amount  ...  \
0  LN-3763uL       Car           9.99     508285.0    15529.52  ...
1  LN-0125XV      Home          11.16    1644923.0    50791.57  ...
2  LN-6426LB       Car           9.91     591658.0    18063.65  ...
3  LN-1780xr       Car           9.39    1891094.0    57462.99  ...
4  LN-1663HC  Personal          13.80    2947874.0    93185.57  ...

        Job_Type Age Marital status  income  employment_type  tenure  \
0        Private  31        Married   91174          Private       8
1     Government  27        Married   53022       Government      15
2     Government  23        Married  130084       Government       5
3  Self-employed  34        Married   45691    Self-employed       5
4        Private  57        Married  133666          Private       2

   eligibility loan_amount  Account_Creation_Year Account_Creation_Month
0            1    508285.0                 2011.0                    7.0
1            0   1644923.0                    NaN                    NaN
2            0    591658.0                    NaN                    NaN
3            0   1891094.0                    NaN                    NaN
4            0   2947874.0                 2022.0                    8.0

[5 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer_Name           650 non-null    object
 1   Account_Number          650 non-null    int64
 2   Account_Type            650 non-null    object
 3   Balance                 650 non-null    int64
 4   Account_Creation_Date   274 non-null    object
 5   Loan_ID                 650 non-null    object
 6   Loan_Type               650 non-null    object
 7   Interest_Rate           650 non-null    float64
 8   Loan_Amount             650 non-null    float64
 9   EMI_Amount              650 non-null    float64
 10  Next_EMI_Due_Date       650 non-null    object
 11  Branch_Name             650 non-null    object
 12  Branch_Code             650 non-null    object
 13  Branch_Address          650 non-null    object
 14  Branch_Contact          650 non-null    float64
 15  cibil_score             650 non-null    int64
 16  Salary                  650 non-null    int64
 17  Job_Type                650 non-null    object
 18  Age                     650 non-null    int64
 19  Marital status          650 non-null    object
 20  income                  650 non-null    int64
 21  employment_type         650 non-null    object
 22  tenure                  650 non-null    int64
 23  eligibility             650 non-null    int64
 24  loan_amount             650 non-null    float64
 25  Account_Creation_Year   274 non-null    float64
 26  Account_Creation_Month  274 non-null    float64
dtypes: float64(7), int64(8), object(12)
memory usage: 137.2+ KB
None